:root {
    --primary-color: #201e1c;
    --secundary-color: #64d0ad;
    --other-color: #282623;
    --primary-font: 'Roboto mono'
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.8rem;
}

p {
    color: white;
    font-size: 1.5rem;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header__container--icons {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--secundary-color);
}

header .header__container--icons .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

header .icons span {
    color: var(--primary-color);
    font-size: 30px;
}

.icons span:hover {
    color: white;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 1.8rem;
    background-color: var(--primary-color);
}

.header__nav--logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header__nav--logo img {
    width: 50px;
    margin-top: 10px;
    margin-right: 15px;
}

.header__nav--logo a {
    font-size: 2.0rem;
    color: white;
    margin-top: 11px;
}

.header__nav--about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
}

.header__nav--about a {
    color: white;
    text-decoration: underline;
}

.blogs-main {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    display: grid;
}

.blogs__news--container {
    padding: 0 50px 40px;
    margin-top: 20px;
    background-color: var(--other-color);
}

.blogs__main--new {
    width: 100%;
    height: auto;
}

.blogs__main--new h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.blog__news--img img {
    width: 100%;
    border: 2px solid var(--primary-color);
}

.blogs__news__info--container {
    display: flex;
    flex-direction: column;
}

.blogs--button {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--secundary-color);
    margin-top: 20px;
    color: var(--primary-color);
    font-size: 1.2rem;
    text-align: center;
    padding-top: 5px;
}

.blogs__posts--container {
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.blogs__posts--container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.blogs__posts {
    width: 100%;
    height: auto;
    max-width: 980px;
    margin: auto;
}

.post__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.post__container img {
    width: 100%;
}

.post__container p {
    margin-bottom: 20px;
}

.post__container--button {
    width: 100px;
    height: 30px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
    border-top: 50px solid var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--logo {
    display: flex;
    align-items: center;
}

.footer--logo img {
    width: 50px;
}

.footer--logo a {
    font-size: 2.0rem;
    color: white;
}