.profile__main--container {
    padding: 70px 40px;
    margin-bottom: 50px;
}
.profile__main--container img {
    width: 320px;
    margin-right: 60px;
}

.profile__container {
    display: flex;
    align-items: center;
}

.profile__container--info h2{
    font-size: 3.0rem;
}

.profile__container--info p {
    font-size: 2.0rem;
}

.project__main--container {
    padding: 0 50px 40px;
}

.project__container {
    padding: 0 5px;
}

.project__main--container h2 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 35px;
    text-align: center;
}